.home-wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 4vmin;
    margin: auto 4vmin;
}

.welcome-wrapper {
    background-color: white;
    color: #4CAF50;
    padding: 4vmin 4vmin;
    height: 30vmin;
    width: 60vmin;
    text-align: center;
    font-size: 2.4vmin;
    border-radius: 1vmin;
}

.new-wrapper {
    background-color: white;
    color: #BA68C8;
    padding: 5vmin;
    grid-row: span 2;
    border-radius: 1vmin;
    width: 100vmin;
}

.new-stuff-wrapper {
    display: flex;
    flex-direction: row;
    gap: 6vmin;
    padding: 3vmin;
    padding-top: 5vmin;
}

.new-stuff-wrapper > div {
    background-color: #f3f3f3;
    border: 0.2vmin solid #c4c4c4;
    border-radius: 5vmin;
    padding: 4vmin;
    width: 30vmin;
    height: 30vmin;
    font-size: 2.8vmin;
    line-height: 5vmin;
}

.feelings-wrapper {
    background-color: white;
    color: #FF5252;
    border-radius: 1vmin;
    padding: 2vmin;
    height: 20vmin;
    width: 60vmin;
    text-align: center;
}

h2 {
    text-transform: capitalize;
}

h3 {
    padding-top: 5vmin;
}

.faces {
    display: flex;
    flex-direction: row;
    padding-top: 2vmin;
    padding-bottom: 0.5vmin;
    cursor: pointer;
    font-size: 3vmin;
}

.feeling-statement {
    color: #962222;
    letter-spacing: 0.3vmin;
}

.feeling {
    font-size: 2.5vmin;
    color: #FF5252;
    letter-spacing: 0;
}

.date-span {
    color: #157c18;
    letter-spacing: 0.4vmin;
    font-size: 2.7vmin;
}
